<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.User}}'s tokens</title>
    <link rel="stylesheet" href="{{globals.rootPath}}/static/bulma.min.css"/>
</head>
<body>

<section class="section">
    <nav class="navbar">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{globals.rootPath}}">
                    Home
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <p class="button is-disabled">
                            <strong>Hello, {{.User}}!</strong>
                        </p>
                        <a class="button is-light" href="{{globals.rootPath}}/oauth/logout">
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <div class="container">
        <h1 class="title">Available tokens</h1>
        <form method="post">
            <div class="field-body">

                <div class="field">
                    <label class="label">Label</label>
                    <input class="input" type="text" name="label" placeholder="Label"/>
                    <p class="help">Human-readable informational field in order to distinguish tokens between each
                        other.</p>
                </div>
                <div class="field">
                    <label class="label">Path</label>
                    <input class="input" type="text" name="path" value="/**" placeholder="Path"/>
                    <p class="help">
                        Allowed request path. Supports <a href="https://github.com/gobwas/glob"
                                                          target="_blank">glob</a>
                    </p>
                </div>
                <div class="field">
                    <label class="label">&nbsp;</label>
                    <button type="submit" class="button is-primary">create token</button>
                </div>
            </div>
        </form>
    </div>
</section>
{{if .Token}}
    <section class="section">
        <div class="container">
            <article class="message is-info is-medium">
                <div class="message-header">
                    <p>
                        Token
                        {{- with .CreatedToken}}
                            {{- if .Label}}
                                :: {{.Label}}
                            {{- end}}
                        {{- end}}
                    </p>
                    <a class="delete" href=""></a>
                </div>
                <div class="message-body">
                    <p class="mb-1">The secret code is unrecoverable and visible only
                        <mark>once</mark>
                        ! Copy it before proceeding.
                    </p>
                    <div class="content">
                        <pre><span class="hint" title="Key hint">{{.Hint}}</span>{{.Payload}}</pre>
                    </div>
                    {{- with .CreatedToken}}
                        <a class="button is-link is-primary" href="token/{{.ID}}/">configure token</a>
                    {{- end}}
                </div>
            </article>
        </div>
    </section>
{{end}}
{{if .Tokens}}
    <section class="section">
        <div class="container">
            <div class="table-container">
                <table class="table is-fullwidth is-striped">
                    <thead>
                    <tr>
                        <th>Label</th>
                        <th title="Non-hashed part of the token">Hint</th>
                        <th>Path</th>
                        <th>Usage</th>
                        <th>Last access</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .Tokens}}
                        <tr>
                            <td>
                                <a href="token/{{.ID}}/">{{.Label}}</a>
                            </td>
                            <td>
                                <a href="token/{{.ID}}/">
                                    <code>{{.Hint}}</code>
                                </a>
                            </td>
                            <td>{{.Path}}</td>
                            <td>{{.Requests}}</td>
                            <td>
                                {{- if gt .Requests 0}}
                                    {{.LastAccessAt.Format "02 Jan 2006 15:04:05 -0700"}}
                                {{- end}}
                            </td>
                            <td>{{.CreatedAt.Format "02 Jan 2006 15:04:05 -0700"}}</td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="token" value="{{.ID}}"/>
                                    <button class="button" type="submit" name="action" value="refresh">refresh</button>
                                    <button class="button is-danger is-light" type="submit" name="action"
                                            value="delete">delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{{end}}
</body>
</html>